<style>
#custom-dns-current td.long {
  word-break: break-all;
}
</style>

<h2>Пользовательский DNS</h2>

<p class="text-warning">Это страница продвинутой настройки.</p>

<p>Здесь можно задать пользовательские DNS‑записи для доменов, размещённых на этом сервере.</p>

<h3>Добавить пользовательские DNS‑записи</h3>

<p>Вы можете добавить дополнительные DNS‑записи, например, если ваш сайт находится на другом сервере, добавить DKIM‑записи для внешних почтовых провайдеров или пройти тесты подтверждения владения доменом.</p>

<form class="form-horizontal" role="form" onsubmit="do_set_custom_dns(); return false;">
  <div class="form-group">
  <label for="customdnsQname" class="col-sm-1 control-label">Имя</label>
    <div class="col-sm-10">
      <table style="max-width: 400px">
      <tr><td>
  <input type="text" class="form-control" id="customdnsQname" placeholder="поддомен">
      </td><td style="padding: 0 1em; font-weight: bold;">.</td><td>
        <select id="customdnsZone" class="form-control"> </select>
      </td></tr></table>
  <div class="text-info" style="margin-top: .5em">Оставьте левое поле пустым, чтобы установить запись для выбранного домена, или введите поддомен.</div>
    </div>
  </div>
  <div class="form-group">
  <label for="customdnsType" class="col-sm-1 control-label">Тип</label>
    <div class="col-sm-10">
      <select id="customdnsType" class="form-control" style="max-width: 400px" onchange="show_customdns_rtype_hint()">
        <option value="A" data-hint="Введите IPv4-адрес (точечный квадруплет, например 123.45.67.89). Алиас 'local' устанавливает значение в публичный IPv4 этого сервера.">A (IPv4 адрес)</option>
        <option value="AAAA" data-hint="Введите IPv6-адрес. Алиас 'local' устанавливает значение в публичный IPv6 этого сервера.">AAAA (IPv6 адрес)</option>
        <option value="CAA" data-hint="Укажите CA, которая может выдавать сертификаты для этого домена в формате FLAG TAG VALUE. (пример: 0 issuewild \"letsencrypt.org\")">CAA (разрешения для УЦ)</option>
        <option value="CNAME" data-hint="Укажите другое доменное имя, заканчивающееся точкой (например mypage.github.io.).">CNAME (псевдоним DNS)</option>
        <option value="TXT" data-hint="Введите произвольный текст.">TXT (текстовая запись)</option>
        <option value="MX" data-hint="Укажите запись в формате PRIORITY DOMAIN., включая завершающую точку (например 20 mx.example.com.).">MX (почтовый обменник)</option>
        <option value="SRV" data-hint="Укажите запись в формате PRIORITY WEIGHT PORT TARGET., включая завершающую точку (например 10 10 5060 sip.example.com.).">SRV (служебная запись)</option>
        <option value="SSHFP" data-hint="Укажите запись в формате ALGORITHM TYPE FINGERPRINT.">SSHFP (fingerprint SSH)</option>
        <option value="NS" data-hint="Укажите имя хоста, на которое будет делегирован этот поддомен.">NS (делегирование поддомена)</option>
      </select>
    </div>
  </div>
  <div class="form-group">
  <label for="customdnsValue" class="col-sm-1 control-label">Значение</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="customdnsValue" placeholder="">
      <div id="customdnsTypeHint" class="text-info" style="margin-top: .5em"></div>
    </div>
  </div>
  <div class="form-group">
  <div class="offset-sm-1 col-sm-11">
      <button type="submit" class="btn btn-primary">Установить запись</button>
    </div>
  </div>
</form>

<div style="text-align: right; font-size; 90%; margin-top: 1em;">
  сортировка:
  <a href="#" onclick="window.miab_custom_dns_data_sort_order='qname'; show_current_custom_dns_update_after_sort(); return false;">домен</a>
  |
  <a href="#" onclick="window.miab_custom_dns_data_sort_order='created'; show_current_custom_dns_update_after_sort(); return false;">дата создания</a>
</div>
<table id="custom-dns-current" class="table" style="width: auto; display: none; margin-top: 0;">
  <thead>
    <th>Домен</th>
    <th>Тип записи</th>
    <th>Значение</th>
    <th></th>
  </thead>
  <tbody>
    <tr><td colspan="4">Загрузка...</td></tr>
  </tbody>
</table>

<h3>Использование вторичного (secondary) nameserver</h3>

<p>Если ваш домен верхнего уровня требует два разных nameserver'а, вы можете либо настроить <a href="#external_dns">внешний DNS</a> и полностью игнорировать DNS этого сервера, либо использовать встроенный DNS и добавить вторичный (также «slave») nameserver.</p>
<p>Если вы выбираете вторичный nameserver, найдите провайдера услуги вторичного DNS. Регистратор домена или ваш облачный провайдер могут предоставить такую услугу. После настройки сервиса введите имя хоста (не IP) их вторичного nameserver'а в поле ниже.</p>

<form class="form-horizontal" role="form" onsubmit="do_set_secondary_dns(); return false;">
  <div class="form-group">
  <label for="secondarydnsHostname" class="col-sm-1 control-label">Имя хоста</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="secondarydnsHostname" placeholder="ns1.cloudprovider.com">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <button type="submit" class="btn btn-primary">Обновить</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <p class="small">
        Несколько вторичных серверов можно перечислить через запятую или пробел (например: <code>ns2.hostingcompany.com ns3.hostingcompany.com</code>).
        Чтобы разрешить передачу зон на дополнительные серверы, не перечисляя их как вторичные, добавьте префикс <code>xfr:</code> к имени хоста, IP‑адресу или подсети, например <code>xfr:10.20.30.40</code> или <code>xfr:10.0.0.0/8</code>.
      </p>
      <p id="secondarydns-clear-instructions" style="display: none" class="small">
        Очистите поле выше и нажмите «Обновить», чтобы использовать этот сервер как вторичный DNS (настройка по умолчанию).
      </p>
    </div>
  </div>
</form>


<h3>API пользовательского DNS</h3>

<p>Используйте DNS API сервера для установки пользовательских DNS‑записей на размещённых здесь доменах. Например, можно реализовать собственный сервис динамического DNS.</p>

<p>Использование:</p>

<pre>curl -X <b>VERB</b> [-d "<b>value</b>"] --user {email}:{password} https://{{hostname}}/admin/dns/custom[/<b>qname</b>[/<b>rtype</b>]]</pre>

<p>(Квадратные скобки обозначают необязательный аргумент.)</p>

<h4>HTTP‑методы</h4>

<table class="table">
<thead><th>Метод</th> <th>Применение</th></thead>
<tr><td>GET</td> <td>Возвращает соответствующие пользовательские DNS‑записи в виде JSON‑массива объектов. Каждый объект содержит ключи <code>qname</code>, <code>rtype</code> и <code>value</code>. Опциональные параметры <code>qname</code> и <code>rtype</code> в URL фильтруют возвращаемые записи. Тело запроса (<code>-d "..."</code>) должно быть пустым/опущенным.</td></tr>
<tr><td>PUT</td> <td>Устанавливает пользовательскую запись, заменяя все существующие записи с теми же <code>qname</code> и <code>rtype</code>. Используйте PUT, когда для пары <code>qname</code> и <code>rtype</code> имеется только одно значение (например обычная A‑запись без round‑robin).</td></tr>
<tr><td>POST</td> <td>Добавляет новую пользовательскую запись. Используйте POST, если нужно сохранить несколько <code>TXT</code> записей или несколько A‑записей (round‑robin). (PUT удалит ранее добавленные записи.)</td></tr>
<tr><td>DELETE</td> <td>Удаляет пользовательские DNS‑записи. Если тело запроса (<code>-d "..."</code>) пустое или отсутствует — будут удалены все записи, совпадающие по <code>qname</code> и <code>rtype</code>. Если тело запроса присутствует — будет удалена только запись, совпадающая по <code>qname</code>, <code>rtype</code> и значению.</td></tr>
</table>

<h4>Параметры</h4>

<table class="table">
<thead><th>Параметр</th> <th>Описание</th></thead>
<tr><td>email</td> <td>Адрес электронной почты любого администратора на этом сервере.</td></tr>
<tr><td>password</td> <td>Пароль этого пользователя.</td></tr>
<tr><td>qname</td> <td>Полное доменное имя (FQDN) записи, которую вы хотите установить. Оно должно быть одним из доменов или поддоменов, размещённых на этом сервере. (Добавляйте почтовых пользователей или алиасы для добавления новых доменов.)</td></tr>
<tr><td>rtype</td> <td>Тип записи. По умолчанию <code>A</code>, если не указан. Возможные значения: <code>A</code> (IPv4), <code>AAAA</code> (IPv6), <code>TXT</code>, <code>CNAME</code> (полное доменное имя-псевдоним — не забудьте завершающую точку), <code>MX</code>, <code>SRV</code>, <code>SSHFP</code>, <code>CAA</code> или <code>NS</code>.</td></tr>
<tr><td>value</td> <td>Для PUT, POST и DELETE — значение записи. Если <code>rtype</code> равен <code>A</code> или <code>AAAA</code>, и <code>value</code> пустое или опущено, будет использован IP адрес удалённого хоста (при использовании curl укажите <code>-4</code> или <code>-6</code>). Удобно для динамического DNS.</td></tr>
</table>

<p>Строгие записи <a href="http://tools.ietf.org/html/rfc4408">SPF</a> и <a href="https://datatracker.ietf.org/doc/draft-kucherawy-dmarc-base/?include_text=1">DMARC</a> будут добавлены ко всем пользовательским доменам, если вы не переопределите их вручную.</p>

<h4>Примеры:</h4>

<p>Примеры ниже. Для простоты опущен аргумент <code>--user me@mydomain.com:yourpassword</code> — замените его на ваш адрес и пароль администратора.</p>

<pre># устанавливает laptop.mydomain.com в IP адрес машины, с которой выполняется curl
curl -X PUT https://{{hostname}}/admin/dns/custom/laptop.mydomain.com

# удаляет эту запись и все A записи для этого доменного имени
curl -X DELETE https://{{hostname}}/admin/dns/custom/laptop.mydomain.com

# устанавливает CNAME алиас
curl -X PUT -d "bar.mydomain.com." https://{{hostname}}/admin/dns/custom/foo.mydomain.com/cname

# удаляет этот CNAME и все CNAME записи для этого домена
curl -X DELETE https://{{hostname}}/admin/dns/custom/foo.mydomain.com/cname

# добавляет TXT запись через POST, сохраняя предыдущие TXT записи
curl -X POST -d "some text here" https://{{hostname}}/admin/dns/custom/foo.mydomain.com/txt

# удаляет одну TXT запись, оставляя остальные
curl -X DELETE -d "some text here" https://{{hostname}}/admin/dns/custom/foo.mydomain.com/txt
</pre>

<script>
function show_custom_dns() {
  api(
    "/dns/secondary-nameserver",
    "GET",
    { },
    function(data) {
      $('#secondarydnsHostname').val(data.hostnames.join(' '));
      $('#secondarydns-clear-instructions').toggle(data.hostnames.length > 0);
    });

  api(
    "/dns/zones",
    "GET",
    { },
    function(data) {
      $('#customdnsZone').text('');
      for (var i = 0; i < data.length; i++) {
        $('#customdnsZone').append($('<option/>').text(data[i]));
      }
    });

  show_current_custom_dns();
  show_customdns_rtype_hint();
}

function show_current_custom_dns() {
  api(
    "/dns/custom",
    "GET",
    { },
    function(data) {
      if (data.length > 0)
        $('#custom-dns-current').fadeIn();
      else
        $('#custom-dns-current').fadeOut();
      window.miab_custom_dns_data = data;
      show_current_custom_dns_update_after_sort();
    });
}

function show_current_custom_dns_update_after_sort() {
      var data = window.miab_custom_dns_data;
      var sort_key = window.miab_custom_dns_data_sort_order || "qname";

      data.sort(function(a, b) { return a["sort-order"][sort_key] - b["sort-order"][sort_key] });

      var tbody = $('#custom-dns-current').find("tbody");
      tbody.text('');
      var last_zone = null;
      for (var i = 0; i < data.length; i++) {
        if (sort_key == "qname" && data[i].zone != last_zone) {
          var r = $("<tr><th colspan=4 style='background-color: #EEE'></th></tr>");
          r.find("th").text(data[i].zone);
          tbody.append(r);
          last_zone = data[i].zone;
        }

        var tr = $("<tr/>");
        tbody.append(tr);
        tr.attr('data-qname', data[i].qname);
        tr.attr('data-rtype', data[i].rtype);
        tr.attr('data-value', data[i].value);
        tr.append($('<td class="long"/>').text(data[i].qname));
        tr.append($('<td/>').text(data[i].rtype));
        tr.append($('<td class="long" style="max-width: 40em"/>').text(data[i].value));
        tr.append($('<td>[<a href="#" onclick="return delete_custom_dns_record(this)">удалить</a>]</td>'));
      }
}

function delete_custom_dns_record(elem) {
  var qname = $(elem).parents('tr').attr('data-qname');
  var rtype = $(elem).parents('tr').attr('data-rtype');
  var value = $(elem).parents('tr').attr('data-value');
  do_set_custom_dns(qname, rtype, value, "DELETE");
  return false;
}

function do_set_secondary_dns() {
 api(
    "/dns/secondary-nameserver",
    "POST",
    {
      hostnames: $('#secondarydnsHostname').val()
    },
    function(data) {
      if (data == "") return; // nothing updated
      show_modal_error("Вторичный DNS", $("<pre/>").text(data));
      $('#secondarydns-clear-instructions').slideDown();
    },
    function(err) {
      show_modal_error("Вторичный DNS", $("<pre/>").text(err));
    });
}

function do_set_custom_dns(qname, rtype, value, method) {
  if (!qname) {
    if ($('#customdnsQname').val() != '')
      qname = $('#customdnsQname').val() + '.' + $('#customdnsZone').val();
    else
      qname = $('#customdnsZone').val();
    rtype = $('#customdnsType').val();
    value = $('#customdnsValue').val();
    method = 'POST';
  }

  api(
    "/dns/custom/" + qname + "/" + rtype,
    method,
    value,
    function(data) {
      if (data == "") return; // nothing updated
      show_modal_error("Пользовательский DNS", $("<pre/>").text(data));
      show_current_custom_dns();
    },
    function(err) {
      show_modal_error("Пользовательский DNS (Ошибка)", $("<pre/>").text(err));
    });
}

function show_customdns_rtype_hint() {
  $('#customdnsTypeHint').text($("#customdnsType").find('option:selected').attr('data-hint'));
}
</script>
