<style>
#external_dns_settings .heading td {
  font-weight: bold;
  font-size: 120%;
  padding-top: 1.5em;
}
#external_dns_settings .heading.first td {
  border-top: none;
  padding-top: 0;
}
#external_dns_settings .values td {
  border: 0;
	padding-top: .75em;
	padding-bottom: 0;
}
#external_dns_settings .value {
	word-break: break-all;
}
#external_dns_settings .explanation td {
	border: 0;
	padding-top: .5em;
	padding-bottom: .75em;
	font-style: italic;
  font-size: 95%;
	color: #777;
}
</style>

<h2>Настройки внешнего DNS</h2>

<p class="text-warning">Это страница расширенной конфигурации.</p>

<p>Хотя ваш сервер настроен на обслуживание собственного DNS, вы можете разместить свой DNS в другом месте &mdash; например, в панели управления DNS, предоставленной вашим регистратором доменных имен или виртуальным облачным провайдером &mdash; скопировав информацию о зоне DNS, показанную в таблице ниже, в панель управления вашего внешнего DNS-сервера.</p>

<p>Если вы это сделаете, вы несете ответственность за поддержание актуальности ваших DNS-записей! Если вы ранее включили DNSSEC для вашего доменного имени, установив запись DS у вашего регистратора, вам, вероятно, придется отключить его перед изменением серверов имен.</p>


<p class="alert" role="alert">
  <span class="glyphicon glyphicon-info-sign"></span>
  Вы можете столкнуться с ошибками файла зоны при попытке создать запись TXT с длинной строкой.
  <a href="https://tools.ietf.org/html/rfc4408#section-3.1.3">RFC 4408</a> указывает, что запись TXT может содержать несколько строк, и этот приём можно использовать для составления записей, которые в сумме превысят максимальную длину в 255 байт.
  Возможно, вам потребуется применить этот приём при добавлении DomainKeys. Используйте утилиту, например <code>named-checkzone</code>, чтобы проверить корректность вашего файла зоны.
</p>

<h3>Скачать zonefile</h3>
<p>Вы можете скачать свои zonefile здесь или использовать таблицу записей ниже.</p>
<form class="form-inline" role="form" onsubmit="do_download_zonefile(); return false;">
    <div class="form-group">
        <div class="form-group">
            <label for="downloadZonefile" class="control-label sr-only">Zone</label>
            <select id="downloadZonefile" class="form-control" style="width: auto"> </select>
        </div>
        <button type="submit" class="btn btn-primary">Скачать</button>
    </div>
</form>

<h3>Записи</h3>

<table id="external_dns_settings" class="table">
	<thead>
		<tr>
			<th>QName</th>
			<th>Type</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<script>
function show_external_dns() {
  api(
    "/dns/zones",
    "GET",
    { },
    function(data) {
        var zones = $('#downloadZonefile');
        zones.text('');
        for (var j = 0; j < data.length; j++) {
            zones.append($('<option/>').text(data[j]));
        }
    });

  $('#external_dns_settings tbody').html("<tr><td colspan='2' class='text-muted'>Loading...</td></tr>")
  api(
    "/dns/dump",
    "GET",
    { },
    function(zones) {
      $('#external_dns_settings tbody').html("");
      for (var j = 0; j < zones.length; j++) {
        var h = $("<tr class='heading'><td colspan='3'></td></tr>");
        h.find("td").text(zones[j][0]);
        $('#external_dns_settings tbody').append(h);

        var r = zones[j][1];
        for (var i = 0; i < r.length; i++) {
          var n = $("<tr class='values'><td class='qname'/><td class='rtype'/><td class='value'/></tr>");
          n.find('.qname').text(r[i].qname);
          n.find('.rtype').text(r[i].rtype);
          n.find('.value').text(r[i].value);
          $('#external_dns_settings tbody').append(n);

          var n = $("<tr class='explanation'><td colspan='3'/></tr>");
          n.find('td').text(r[i].explanation);
          $('#external_dns_settings tbody').append(n);
        }
      }
    })
}

function do_download_zonefile() {
    var zone = $('#downloadZonefile').val();

    api(
        "/dns/zonefile/"+ zone,
        "GET",
        {},
        function(data) {
            show_modal_error("Download Zonefile", $("<pre/>").text(data));
        },
        function(err) {
            show_modal_error("Download Zonefile (Error)", $("<pre/>").text(err));
        });
}
</script>
