<style>#panel_mail-guide table.table { width: auto; margin-left: .5em; }</style>

<div>
	<h2 style="margin-bottom: 0">Проверка и отправка почты</h2>

	<div class="row">
		<div class="col-sm-7">
			<h3>Веб‑почта</h3>

			<p>Веб‑почта позволяет просматривать почту в любом браузере. Ваш веб‑почтовый интерфейс доступен по адресу:</p>
			<p style="margin-left: 2em"><strong><a href="https://{{hostname}}/mail">https://{{hostname}}/mail</a></strong></p>
			<p>Имя пользователя — это ваш полный адрес электронной почты.</p>


			<h3>Мобильные и настольные приложения</h3>

				<h4>Автоматическая настройка</h4>

					<p>Только для iOS и macOS: откройте <a style="font-weight: bold" href="https://{{hostname}}/mailinabox.mobileconfig">эту ссылку настройки</a> на устройстве iOS или на Mac, чтобы быстро настроить почту (IMAP/SMTP), контакты и календарь. Имя пользователя — ваш полный адрес электронной почты.</p>
    
				<h4>Ручная настройка</h4>

					<p>Используйте следующие параметры при настройке почты на телефоне, компьютере или другом устройстве:</p>

					<table class="table">
					<thead>
						<tr><th>Параметр</th> <th>Значение</th></tr>
					</thead>
					<tr><th>Протокол/Метод</th> <td>IMAP</td></tr>
					<tr><th>Почтовый сервер</th> <td>{{hostname}}</td>
					<tr><th>Порт IMAP</th> <td>993</td></tr>
					<tr><th>Безопасность IMAP</th> <td>SSL или TLS</td></tr>
					<tr><th>Порт SMTP</th> <td>465</td></tr>
					<tr><th>Безопасность SMTP</td> <td>SSL или TLS</td></tr>
					<tr><th>Имя пользователя:</th> <td>Ваш полный адрес электронной почты.</td></tr>
					<tr><th>Пароль:</th> <td>Ваш почтовый пароль.</td></tr>
					</table>

					<p>Кроме настройки почты, необходимо отдельно настроить <a href="#sync_guide">синхронизацию контактов и календаря</a>.</p>

					<p>Вместо IMAP вы также можете использовать POP: выберите протокол POP, порт 995 и безопасность SSL или TLS в вашем почтовом клиенте. Настройки SMTP и учётные данные остаются такими же. Тем не менее, мы рекомендуем использовать IMAP.</p>

				<h4>Настройки Exchange/ActiveSync</h4>

					<p>На устройствах iOS, на устройствах из <a href="https://github.com/Z-Hub/Z-Push/wiki/Compatibility">списка совместимости</a> или в Outlook 2007 и новее на Windows 7 и выше вы можете настроить почту через Exchange/ActiveSync. Однако такой способ чаще даёт сбои по сравнению с использованием IMAP, описанным выше. При проблемах используйте ручные настройки.</p>

					<table class="table">
					<tr><th>Сервер</th> <td>{{hostname}}</td></tr>
					<tr><th>Параметры</th> <td>Защищённое соединение</td></tr>
					</table>

					<p>При таком способе у вашего устройства также должен появиться список контактов и календарь, синхронизируемые с этим сервером.</p>
		</div>

		<div class="col-sm-5">
		<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Дополнительная информация о почте на вашем сервере</h3>
		</div>
		<div class="panel-body">
			<h4>Грейлистинг</h4>
			<p>Сервер использует метод, называемый грейлистингом, чтобы сократить количество спама. Грейлистинг временно отклоняет почту от отправителей, от которых вы ранее не получали писем. Легитимные почтовые серверы попытаются доставить письмо повторно через короткое время, тогда как большая часть спама не проходит повторную доставку. Если вы ждёте письмо от нового отправителя (например, подтверждение регистрации на сайте), имейте в виду минимальную задержку около 3 минут — точное время зависит от того, как быстро удалённый сервер повторно попытается доставить сообщение.</p>

			<h4>Адреса с +tag</h4>
			<p>Каждый входящий адрес также принимает почту для адресов с <code>+tag</code>. Если ваш адрес <code>you@yourdomain.com</code>, вы автоматически будете получать почту, отправленную на <code>you+anythinghere@yourdomain.com</code>. Это удобный способ сегментировать входящую почту с помощью фильтров без создания алиасов в этой панели управления.</p>

			<h4>Отправляйте почту от имени домена только с этого сервера</h4>
			<p>Сервер задаёт строгие политики отправки почты для ваших доменов, чтобы затруднить подделку отправителя. Только этот сервер авторизован для отправки почты от имени ваших доменов. Если вы используете другой сервис для отправки почты от вашего имени, у получателя такое письмо, скорее всего, попадёт в спам или будет отклонено.</p>
		</div>
		</div>
		</div>
	</div>
</div>
