<div>
	<h2>Контакты &amp; Календарь</h2>

	<p>Этот ящик может содержать ваши контакты и календарь, так же как он содержит вашу почту.</p>

	<hr>

	<div class="row">
		<div class="col-sm-6">
			<h4>На вашем устройстве</h4>

			<p>Если вы настроили свою <a href="#mail-guide">почту</a> с помощью Exchange/ActiveSync,
			ваши контакты и календарь могут уже отображаться на вашем устройстве.</p>
			<p>В противном случае, приложение ниже может синхронизировать ваши контакты и календарь с вашим Android-устройством.</p>

			<table class="table">
			<thead><tr><th>Google Play</th> <th>F-Droid</th></tr></thead>
			<tr><td><a href="https://play.google.com/store/apps/details?id=at.bitfire.davdroid">DAVx⁵</a> (платное)</td> <td><a href="https://f-droid.org/packages/at.bitfire.davdroid/">DAVx⁵</a> (бесплатное)</td></tr>
			</table>

			<p>Используйте следующие настройки:</p>

			<table class="table">
			<tr><td>Тип учетной записи</td> <td>CardDAV или CalDAV</td></tr>
			<tr><td>Имя сервера</td> <td>{{hostname}}</td></tr>
			<tr><td>Использовать SSL</td> <td>Да</td></tr>
			<tr><td>Имя пользователя</td> <td>Ваш полный адрес электронной почты.</td></tr>
			<tr><td>Пароль</td> <td>Ваш почтовый пароль.</td></tr>
			</table>
		</div>
	</div>
</div>
