<style>
</style>

<h2>Статическая веб-хостинг</h2>

<p>Этот сервер обслуживает простой статический веб-сайт по адресу <a href="https://{{hostname}}">https://{{hostname}}</a> и по всем доменным именам, для которых вы настроили почтового пользователя или псевдоним.</p>

<h3>Загрузка веб-файлов</h3>

<p>Вы можете заменить веб-сайт по умолчанию на свои собственные HTML-страницы и другие статические файлы. Эта панель управления не поможет вам разработать веб-сайт, но как только у вас есть файлы <tt>.html</tt>, вы можете загрузить их, следуя этим инструкциям:</p>

<ol>
<li>Убедитесь, что у любых доменов, для которых вы публикуете веб-сайт, нет проблем на странице <a href="#system_status">Проверка состояния</a>.</li>

<li>На вашем персональном компьютере установите программу передачи файлов по SSH, такую как <a href="https://filezilla-project.org/">FileZilla</a> или <a href="https://man.openbsd.org/scp.1">scp</a>.</li>

<li>Войдите на этот компьютер с помощью программы передачи файлов. Сервер - это <strong>{{hostname}}</strong>, протокол - SSH или SFTP, и используйте <strong>учетные данные для входа по SSH</strong>, которые вы использовали, когда изначально создавали этот компьютер у вашего облачного провайдера. Это <strong>не</strong> то, что вы используете для входа как для электронной почты, так и для этой панели управления. Ваши учетные данные SSH, вероятно, включают файл закрытого ключа.</li>

<li>Загрузите <tt>.html</tt> или другие файлы в каталог <tt>{{storage_root}}/www/default</tt> на этом компьютере. Они появятся непосредственно и немедленно в Интернете.</li>

<li>Сайты, настроенные на этом компьютере, перечислены в таблице ниже с указанием местоположения для размещения файлов для каждого сайта.</li>

<table id="web_domains_existing" class="table" style="margin-bottom: 1em; width: auto;">
        <thead>
                <tr>
                        <th>Сайт</th>
                        <th>Каталог для файлов</th>
			<th/>
                </tr>
        </thead>
        <tbody>
        </tbody>
</table>

<p>Чтобы добавить домен в эту таблицу, сначала создайте фиктивного <a href="#users">почтового пользователя</a> или <a href="#aliases">псевдоним</a> на домене, а затем ознакомьтесь с <a href="https://mailinabox.email/guide.html#domain-name-configuration">руководством по настройке</a> для добавления записей имен серверов в новый домен у вашего регистратора (но <i>не</i> записей-склеек).</p>

</ol>

<script>
function show_web() {
 api(
    "/web/domains",
    "GET",
    {
    },
    function(domains) {
	var tb = $('#web_domains_existing tbody');
	tb.text('');
	for (var i = 0; i < domains.length; i++) {
		if (!domains[i].static_enabled) continue;
		var row = $("<tr><th class='domain'><a href=''></a></th><td class='directory'><tt/></td> <td class='change-root hidden'><button class='btn btn-default btn-xs' onclick='show_change_web_root(this)'>Change</button></td></tr>");
		tb.append(row);
		row.attr('data-domain', domains[i].domain);
		row.attr('data-custom-web-root', domains[i].custom_root);
		row.find('.domain a').text('https://' + domains[i].domain);
		row.find('.domain a').attr('href', 'https://' + domains[i].domain);
		row.find('.directory tt').text(domains[i].root);
		if (domains[i].root != domains[i].custom_root)
			row.find('.change-root').removeClass('hidden');
	}

    });
}

function do_web_update() {
 api(
    "/web/update",
    "POST",
    {
    },
    function(data) {
      if (data == "")
        data = "Ничего не изменилось.";
      else
        data = $("<pre/>").text(data);
      show_modal_error("Обновление веб-сайта", data, function() { show_web() });
    });
}

function show_change_web_root(elem) {
  var domain = $(elem).parents('tr').attr('data-domain');
  var root = $(elem).parents('tr').attr('data-custom-web-root');
  show_modal_confirm(
    'Изменить корневой каталог для ' + domain,
    $('<p>Вы можете изменить статический каталог для <tt>' + domain + '</tt> на:</p> <p><tt>' + root + '</tt></p> <p>Сначала создайте этот каталог на сервере. Затем нажмите Обновить, чтобы просканировать каталог и обновить настройки веб-сайта.</p>'),
    'Обновить',
    function() { do_web_update(); });
}
</script>
